*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}
body{
    text-align: center;
    background-color: #333333;
    color: #ffffff;
    overflow: hidden;
    background-image: url(../images/bank-image.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.infop{
    display: flex;
    text-align: center;
    justify-content: center;
    background-color: rgba(255, 0, 0, 0);
}
.containero h1{
    margin-top: 200px;
}
.containero p{
    margin-bottom: 30px;
 }
.h2o{
    background-color: rgba(0, 0, 0, 0);
    color: #ffffff;
    padding: 15px;
    padding-left: 30px;
    padding-right: 30px;
    margin: 20px;
    box-shadow: #00ffb3 -3px -2px 0px 0px;
    min-width: max-content;
    font-size: 25px;
}
.line{
    padding-left: 30vw;
    padding-right: 30vw;
}
.line .hr{
    border: #ffffff solid 1px;
    box-shadow: #00ffb3 0px 0px 20px 2px;
    animation: move-arrow-ink 5.5s linear infinite;
}
@keyframes move-arrow-ink {
  0% {
    opacity: 0;
    /* transform: translateX(-20%); */
    transform: translateY(-1000%);
  }
  50% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 0;
    /* transform: translateX(20%); */
    transform: translateY(1000%);
  }
  }
.h2o-v1o{
    background-color: rgba(0, 0, 0, 0);
    color: #ffffff;
    padding: 15px;
    margin: 20px;
    box-shadow: #00ffb3 3px 2px 0px 0px;
    min-width: max-content;
    font-size: 25px;
}
.containero{
    background-color: rgba(0, 0, 0, 0.89);
    box-shadow: #00ffb3 0px 0px 20px 2px;
    padding-top: 10px;
    padding-bottom: 250px;
    overflow: hidden;
}
.my-nameo{
    width: 150px;
    margin-left: 100px;
}
.topline{
    background-color: #ffffff00;
    box-shadow: #00ffb3 0px 1px 0px 0px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 2px;
    padding-bottom: 4px;
}

.lineo1{
    padding-left: 0vw;
    padding-right: 0vw;
    width: 269px;
    position: absolute;
    top: 59.2vh;
    left: 44.9vw;
}
.lineo1 .hro1{
    border: #00ffb3 solid 2px;
    /* box-shadow: #00ffb3 0px 0px 20px 2px; */
    animation: move-arrow-inm 5s linear infinite;
}
@keyframes move-arrow-inm {
  0% {
    opacity: 0;
    /* transform: translateX(-20%); */
    transform: translateX(100%);
  }
  50% {
    opacity: 1;
    transform: translateX(0%);
  }
  100% {
    opacity: 0;
    /* transform: translateX(20%); */
    transform: translateX(0%);
  }
  }
  
.lineo2{
    padding-left: 0vw;
    padding-right: 0vw;
    width: 160px;
    position: absolute;
    top: 67.1vh;
    left: 37.5vw;
}
.lineo2 .hro2{
    border: #00ffb3 solid 2px;
    animation: move-arrow-inp 5s linear infinite;
}
@keyframes move-arrow-inp {
  0% {
    opacity: 0;
    /* transform: translateX(-20%); */
    transform: translateX(-100%);
  }
  50% {
    opacity: 1;
    transform: translateX(0%);
  }
  100% {
    opacity: 0;
    /* transform: translateX(20%); */
    transform: translateX(0%);
  }
  }@media (max-width: 768px) /* (max-width: 768px)*/{
   #lineo1{
    top: 0vh;
    left: 0vw;
    width: 0px;
   }
   #lineo2{
    top: 0vh;
    left: 0vw;
    width: 0px;
   }
   #hro1{
    border: #00ffb300 solid 2px;
   }
   #hro2{
    border: #00ffb300 solid 2px;
   }
   body{
    overflow: hidden;
   }
}